<div class="container-fluid pb-3 pt-2">
   <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
      <div class="bg-body-tertiary border rounded-3">
         <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="py-5">
               <p class=" fw-bold" id="formTypeVictim">Create victim</p>
               <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="text" class="form-control" placeholder="victim Name" id="nameVictim">
                  <br>
                  <input type="text" class="form-control" placeholder="age" id="ageVictim">
                  <br>
                  <input type="text" class="form-control" placeholder="genderVictim" id="genderVictim">
                  <br>
                  <input type="text" class="form-control" placeholder="injury_type" id="injury_type">
                  <br>
                  <button class="btn btn-primary btn-md" type="button" id="victimbtn">Submit</button>
               </form>
            </div>
         </div>
      </div>
      <div class="bg-body-tertiary border rounded-3">
         <div class="container-fluid py-5">
            <button class="btn btn-success mb-3" id="addvictim">Add
               New
            </button>
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">#victim Id</th>
                     <th scope="col">name</th>
                     <th scope="col">age</th>
                     <th scope="col">gender</th>
                     <th scope="col">injury_type</th>
                     <th scope="col">Actions</th>
                  </tr>
               </thead>
               <tbody id="victimTr">

               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<script>

   //get data array object and show in table  using fetch api
   const getvictim = async () => {
      const response = await fetch('/api/victims');
      const data = await response.json();
      console.log(data);
      let html = ``;
      data.data.forEach(victim => {
         html += `
            <tr>
               <th scope="row">${victim.victim_id}</th>
               <td>${victim.name}</td>
               <td>${victim.age}</td>
               <td>${victim.gender}</td>
               <td>${victim.injury_type}</td>
               <td>
                  <button class="btn btn-warning btn-sm"  onclick="editvictim(${victim.victim_id})">Edit</button>
                  <button class="btn btn-danger btn-sm" onclick="deletevictim(${victim.victim_id})">Delete</button>
               </td>
            </tr>
         `;
      });
      victimTr.innerHTML = html;
   }
   getvictim();

   //add victim
   const addvictim = async () => {
      const name = document.getElementById('nameVictim').value;
      const age = document.getElementById('ageVictim').value;
      const gender = document.getElementById('genderVictim').value;
      const injury_type = document.getElementById('injury_type').value;

      const response = await fetch('/api/victims', {
         method: 'POST',
         headers: {
            'Content-Type': 'application/json'
         },
         body: JSON.stringify({
            name: name,
            age: age,
            gender: gender,
            injury_type: injury_type
         })
      });
      const data = await response.json();
      console.log(data);
      if (data.status === true) {
         getvictim();
         document.getElementById('nameVictim').value = '';
         document.getElementById('ageVictim').value = '';
         document.getElementById('genderVictim').value = '';
         document.getElementById('injury_type').value = '';

         document.getElementById('tosttittle').innerHTML = 'Success';
         document.getElementById('tostbody').innerHTML = 'victim added successfully';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      } else {
         document.getElementById('tosttittle').innerHTML = 'Error';
         document.getElementById('tostbody').innerHTML = 'victim added failed';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      }
   }
   let victimbtn = document.getElementById('victimbtn');
   victimbtn.addEventListener('click', addvictim);

   //delete victim
   const deletevictim = async (id) => {
      const response = await fetch(`/api/victims/${id}`, {
         method: 'DELETE'
      });
      const data = await response.json();
      console.log(data);
      if (data.status === true) {
         getvictim();
         document.getElementById('tosttittle').innerHTML = 'Success';
         document.getElementById('tostbody').innerHTML = 'victim deleted successfully';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      } else {
         document.getElementById('tosttittle').innerHTML = 'Error';
         document.getElementById('tostbody').innerHTML = 'victim deleted failed';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      }
   }
   //edit victim in id formType change for eidt victim
   const editvictim = async (id) => {
      document.getElementById('formTypeVictim').innerHTML = 'Edit victim';
      const response = await fetch(`/api/victims/${id}`);
      const data = await response.json();
      console.log(data);
      document.getElementById('nameVictim').value = data.name;
      document.getElementById('ageVictim').value = data.age;
      document.getElementById('genderVictim').value = data.gender;
      document.getElementById('injury_type').value = data.injury_type;

      victimbtn.innerHTML = 'Update';
      victimbtn.removeEventListener('click', addvictim);
      victimbtn.addEventListener('click', () => updatevictim(id));
   }

   //update victim
   const updatevictim = async (id) => {
      const name = document.getElementById('nameVictim').value;
      const age = document.getElementById('ageVictim').value;
      const gender = document.getElementById('genderVictim').value;
      const injury_type = document.getElementById('injury_type').value;
      const response = await fetch(`/api/victims/${id}`, {
         method: 'PATCH',
         headers: {
            'Content-Type': 'application/json'
         },
         body: JSON.stringify({
            name: name,
            age: age,
            gender: gender,
            injury_type: injury_type
         })
      });
      const data = await response.json();
      console.log(data);
      if (data.status === true) {
         getvictim();
         document.getElementById('nameVictim').value = '';
         document.getElementById('ageVictim').value = '';
         document.getElementById('genderVictim').value = '';
         document.getElementById('injury_type').value = '';
         document.getElementById('formTypeVictim').innerHTML = 'Create victim';
         victimbtn.innerHTML = 'Submit';
         victimbtn.removeEventListener('click', updatevictim);
         victimbtn.addEventListener('click', addvictim);
         document.getElementById('tosttittle').innerHTML = 'Success';
         document.getElementById('tostbody').innerHTML = 'victim updated successfully';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      } else {
         document.getElementById('tosttittle').innerHTML = 'Error';
         document.getElementById('tostbody').innerHTML = 'victim updated failed';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      }
   }
   // add new update when edit victim  avalabe in id createvictim
   const createvictim2 = document.getElementById('addvictim');
   createvictim2.addEventListener('click', () => {
      document.getElementById('nameVictim').value = '';
      document.getElementById('ageVictim').value = '';
      document.getElementById('genderVictim').value = '';
      document.getElementById('injury_type').value = '';
      document.getElementById('formTypeVictim').innerHTML = 'Create victim';
      victimbtn.innerHTML = 'Submit';
      victimbtn.removeEventListener('click', updatevictim);
      victimbtn.addEventListener('click', addvictim);
   })


</script>