<div class="container-fluid pb-3 pt-2">
   <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
      <div class="bg-body-tertiary border rounded-3">
         <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="py-5">
               <p class=" fw-bold" id="formTypeAccident">Create Accident Case</p>
               <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">

                  <select class="form-select" aria-label="Default select Victim" id="AccidentsVictimId">
                     <option selected>Open this select menu</option>

                  </select>
                  <br>
                  <select class="form-select" aria-label="Default select Vehicle" id="AccidentsVehicleId">
                     <option selected>Open this select menu</option>

                  </select>
                  <br>
                  <select class="form-select" aria-label="Default select Plice" id="AccidentsPoliceId">
                     <option selected>Open this select menu</option>

                  </select>
                  <br>
                  <select class="form-select" aria-label="Default select Witness" id="AccidentsWitnessId">
                     <option selected>Open this select menu</option>

                  </select>
                  <br>
                  <input type="text" class="form-control" placeholder="location" id="locationAccident">
                  <br>
                  <input type="text" class="form-control" placeholder="description" id="descriptionAccident">
                  <br>
                  <input type="text" class="form-control" placeholder="status" id="statusAccident">
                  <br>

                  <button class="btn btn-primary btn-md" type="button" id="Accidentbtn">Submit</button>
               </form>
            </div>
         </div>
      </div>
      <div class="bg-body-tertiary border rounded-3">
         <div class="container-fluid py-5">
            <button class="btn btn-success mb-3" id="addAccident">Add
               New
            </button>
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">#Accident Id</th>
                     <th scope="col">victim_id </th>
                     <th scope="col">vehicle_id </th>
                     <th scope="col">police_id </th>
                     <th scope="col">witness_id </th>
                     <th scope="col">location</th>
                     <th scope="col">date_occurred</th>
                     <th scope="col">description</th>
                     <th scope="col">status</th>
                     <th scope="col">Actions</th>
                  </tr>
               </thead>
               <tbody id="AccidentTr">

               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<script>


   //get data array object and show in table  using fetch api
   const getAccident = async () => {
      const response = await fetch('/api/accident');
      const data = await response.json();
      console.log(data);
      let html = ``;
      data.data.forEach(Accident => {
         html += `
            <tr>
               <th scope="row">${Accident.case_id}</th>
               <td>${Accident.victim_id}</td>
               <td>${Accident.vehicle_id}</td>
               <td>${Accident.police_id}</td>
               <td>${Accident.witness_id}</td>
               <td>${Accident.location}</td>
               <td>${Accident.date_occurred}</td>
               <td>${Accident.description}</td>
               <td>${Accident.status}</td>
               <td>
                  <button class="btn btn-warning btn-sm"  onclick="editAccident(${Accident.case_id})">Edit</button>
                  <button class="btn btn-danger btn-sm" onclick="deleteAccident(${Accident.case_id})">Delete</button>
               </td>
            </tr>
         `;
      });
      AccidentTr.innerHTML = html;
   }
   getAccident();

   //add Accident
   const addAccident = async () => {
      const user_id = JSON.parse(localStorage.getItem('username')).data.id;
      const victim_id = document.getElementById('AccidentsVictimId').value;
      const vehicle_id = document.getElementById('AccidentsVehicleId').value;
      const police_id = document.getElementById('AccidentsPoliceId').value;
      const witness_id = document.getElementById('AccidentsWitnessId').value;
      const location = document.getElementById('locationAccident').value;
      const description = document.getElementById('descriptionAccident').value;
      const status = document.getElementById('statusAccident').value;
      console.log(user_id);


      const response = await fetch('/api/accident', {
         method: 'POST',
         headers: {
            'Content-Type': 'application/json'
         },
         body: JSON.stringify({
            victim_id: victim_id,
            vehicle_id: vehicle_id,
            police_id: police_id,
            witness_id: witness_id,
            location: location,
            description: description,
            status: status,
            user_id: user_id
         })
      });
      const data = await response.json();
      console.log(data);
      if (data.status === true) {
         getAccident();
         document.getElementById('AccidentsVictimId').value = 'Select Item Victim';
         document.getElementById('AccidentsVehicleId').value = 'Select Item Vehicle';
         document.getElementById('AccidentsPoliceId').value = 'Select Item Police';
         document.getElementById('AccidentsWitnessId').value = 'Select Item Witness';
         document.getElementById('locationAccident').value = '';
         document.getElementById('descriptionAccident').value = '';
         document.getElementById('statusAccident').value = '';

         document.getElementById('tosttittle').innerHTML = 'Success';
         document.getElementById('tostbody').innerHTML = 'Accident added successfully';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      } else {
         document.getElementById('tosttittle').innerHTML = 'Error';
         document.getElementById('tostbody').innerHTML = 'Accident added failed';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      }
   }
   let Accidentbtn = document.getElementById('Accidentbtn');
   Accidentbtn.addEventListener('click', addAccident);

   //delete Accident
   const deleteAccident = async (id) => {
      const response = await fetch(`/api/accident/${id}`, {
         method: 'DELETE'
      });
      const data = await response.json();
      console.log(data);
      if (data.status === true) {
         getAccident();
         document.getElementById('tosttittle').innerHTML = 'Success';
         document.getElementById('tostbody').innerHTML = 'Accident deleted successfully';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      } else {
         document.getElementById('tosttittle').innerHTML = 'Error';
         document.getElementById('tostbody').innerHTML = 'Accident deleted failed';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      }
   }
   //edit Accident in id formType change for eidt Accident
   const editAccident = async (id) => {
      document.getElementById('formTypeAccident').innerHTML = 'Edit Accident';
      const response = await fetch(`/api/accident/${id}`);
      const data = await response.json();
      console.log(data);

      document.getElementById('AccidentsVictimId').value = data.victim_id;
      document.getElementById('AccidentsVehicleId').value = data.vehicle_id;
      document.getElementById('AccidentsPoliceId').value = data.police_id;
      document.getElementById('AccidentsWitnessId').value = data.witness_id;
      document.getElementById('locationAccident').value = data.location;
      document.getElementById('descriptionAccident').value = data.description;
      document.getElementById('statusAccident').value = data.status;

      Accidentbtn.innerHTML = 'Update';
      Accidentbtn.removeEventListener('click', addAccident);
      Accidentbtn.addEventListener('click', () => updateAccident(id));
   }

   //update Accident
   const updateAccident = async (id) => {
      const victim_id = document.getElementById('AccidentsVictimId').value;
      const vehicle_id = document.getElementById('AccidentsVehicleId').value;
      const police_id = document.getElementById('AccidentsPoliceId').value;
      const witness_id = document.getElementById('AccidentsWitnessId').value;
      const location = document.getElementById('locationAccident').value;
      const description = document.getElementById('descriptionAccident').value;
      const status = document.getElementById('statusAccident').value;
      const response = await fetch(`/api/accident/${id}`, {
         method: 'PATCH',
         headers: {
            'Content-Type': 'application/json'
         },
         body: JSON.stringify({
            victim_id: victim_id,
            vehicle_id: vehicle_id,
            police_id: police_id,
            witness_id: witness_id,
            location: location,
            description: description,
            status: status
         })
      });
      const data = await response.json();
      console.log(data);
      if (data.status === true) {
         getAccident();
         document.getElementById('AccidentsVictimId').value = 'Select Item Victim';
         document.getElementById('AccidentsVehicleId').value = 'Select Item Vehicle';
         document.getElementById('AccidentsPoliceId').value = 'Select Item Police';
         document.getElementById('AccidentsWitnessId').value = 'Select Item Witness';
         document.getElementById('locationAccident').value = '';
         document.getElementById('descriptionAccident').value = '';
         document.getElementById('statusAccident').value = '';
         document.getElementById('formTypeAccident').innerHTML = 'Create Accident';
         Accidentbtn.innerHTML = 'Submit';
         Accidentbtn.removeEventListener('click', updateAccident);
         Accidentbtn.addEventListener('click', addAccident);
         document.getElementById('tosttittle').innerHTML = 'Success';
         document.getElementById('tostbody').innerHTML = 'Accident updated successfully';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      } else {
         document.getElementById('tosttittle').innerHTML = 'Error';
         document.getElementById('tostbody').innerHTML = 'Accident updated failed';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      }
   }
   // add new update when edit Accident  avalabe in id createAccident
   const createAccident2 = document.getElementById('addAccident');
   createAccident2.addEventListener('click', () => {
      document.getElementById('AccidentsVictimId').value = 'Select Item Victim';
      document.getElementById('AccidentsVehicleId').value = 'Select Item Vehicle';
      document.getElementById('AccidentsPoliceId').value = 'Select Item Police';
      document.getElementById('AccidentsWitnessId').value = 'Select Item Witness';
      document.getElementById('locationAccident').value = '';
      document.getElementById('descriptionAccident').value = '';
      document.getElementById('statusAccident').value = '';
      document.getElementById('formTypeAccident').innerHTML = 'Create Accident';
      Accidentbtn.innerHTML = 'Submit';
      Accidentbtn.removeEventListener('click', updateAccident);
      Accidentbtn.addEventListener('click', addAccident);
   })


</script>