<div class="container-fluid pb-3 pt-2">
   <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
      <div class="bg-body-tertiary border rounded-3">
         <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="py-5">
               <p class=" fw-bold" id="formTypePolice">Create Police</p>
               <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="text" class="form-control" placeholder="Police Name" id="namePolice">
                  <br>
                  <input type="text" class="form-control" placeholder="badge_number" id="badge_numberPolice">
                  <br>
                  <input type="text" class="form-control" placeholder="contact_number" id="contact_numberPolice">
                  <br>
                  <button class="btn btn-primary btn-md" type="button" id="Policebtn">Submit</button>
               </form>
            </div>
         </div>
      </div>
      <div class="bg-body-tertiary border rounded-3">
         <div class="container-fluid py-5">
            <button class="btn btn-success mb-3" id="addPolice">Add
               New
            </button>
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">#Police Id</th>
                     <th scope="col">name</th>
                     <th scope="col">badge_number</th>
                     <th scope="col">contact_number</th>
                     <th scope="col">Actions</th>
                  </tr>
               </thead>
               <tbody id="PoliceTr">

               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<script>

   //get data array object and show in table  using fetch api
   const getPolice = async () => {
      const response = await fetch('/api/police');
      const data = await response.json();
      console.log(data);
      let html = ``;
      data.data.forEach(Police => {
         html += `
            <tr>
               <th scope="row">${Police.police_id}</th>
               <td>${Police.name}</td>
               <td>${Police.badge_number}</td>
               <td>${Police.contact_number}</td>
               <td>
                  <button class="btn btn-warning btn-sm"  onclick="editPolice(${Police.police_id})">Edit</button>
                  <button class="btn btn-danger btn-sm" onclick="deletePolice(${Police.police_id})">Delete</button>
               </td>
            </tr>
         `;
      });
      PoliceTr.innerHTML = html;
      let html2 = `<option selected>Select Item Police</option>`;
      data.data.forEach(Police => {
         html2 += `
            <option value="${Police.police_id}">${Police.name}</option>
         `;
      });
      document.getElementById('AccidentsPoliceId').innerHTML = html2;
   }
   getPolice();

   //add Police
   const addPolice = async () => {
      const name = document.getElementById('namePolice').value;
      const badge_number = document.getElementById('badge_numberPolice').value;
      const contact_number = document.getElementById('contact_numberPolice').value;

      const response = await fetch('/api/police', {
         method: 'POST',
         headers: {
            'Content-Type': 'application/json'
         },
         body: JSON.stringify({
            name: name,
            badge_number: badge_number,
            contact_number: contact_number
         })
      });
      const data = await response.json();
      console.log(data);
      if (data.status === true) {
         getPolice();
         document.getElementById('namePolice').value = '';
         document.getElementById('badge_numberPolice').value = '';
         document.getElementById('contact_numberPolice').value = '';

         document.getElementById('tosttittle').innerHTML = 'Success';
         document.getElementById('tostbody').innerHTML = 'Police added successfully';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      } else {
         document.getElementById('tosttittle').innerHTML = 'Error';
         document.getElementById('tostbody').innerHTML = 'Police added failed';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      }
   }
   let Policebtn = document.getElementById('Policebtn');
   Policebtn.addEventListener('click', addPolice);

   //delete Police
   const deletePolice = async (id) => {
      const response = await fetch(`/api/police/${id}`, {
         method: 'DELETE'
      });
      const data = await response.json();
      console.log(data);
      if (data.status === true) {
         getPolice();
         document.getElementById('tosttittle').innerHTML = 'Success';
         document.getElementById('tostbody').innerHTML = 'Police deleted successfully';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      } else {
         document.getElementById('tosttittle').innerHTML = 'Error';
         document.getElementById('tostbody').innerHTML = 'Police deleted failed';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      }
   }
   //edit Police in id formType change for eidt Police
   const editPolice = async (id) => {
      document.getElementById('formTypePolice').innerHTML = 'Edit Police';
      const response = await fetch(`/api/police/${id}`);
      const data = await response.json();
      console.log(data);
      document.getElementById('namePolice').value = data.name;
      document.getElementById('badge_numberPolice').value = data.badge_number;
      document.getElementById('contact_numberPolice').value = data.contact_number;

      Policebtn.innerHTML = 'Update';
      Policebtn.removeEventListener('click', addPolice);
      Policebtn.addEventListener('click', () => updatePolice(id));
   }

   //update Police
   const updatePolice = async (id) => {
      const name = document.getElementById('namePolice').value;
      const badge_number = document.getElementById('badge_numberPolice').value;
      const contact_number = document.getElementById('contact_numberPolice').value;
      const response = await fetch(`/api/police/${id}`, {
         method: 'PATCH',
         headers: {
            'Content-Type': 'application/json'
         },
         body: JSON.stringify({
            name: name,
            badge_number: badge_number,
            contact_number: contact_number
         })
      });
      const data = await response.json();
      console.log(data);
      if (data.status === true) {
         getPolice();
         document.getElementById('namePolice').value = '';
         document.getElementById('badge_numberPolice').value = '';
         document.getElementById('contact_numberPolice').value = '';
         document.getElementById('formTypePolice').innerHTML = 'Create Police';
         Policebtn.innerHTML = 'Submit';
         Policebtn.removeEventListener('click', updatePolice);
         Policebtn.addEventListener('click', addPolice);
         document.getElementById('tosttittle').innerHTML = 'Success';
         document.getElementById('tostbody').innerHTML = 'Police updated successfully';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      } else {
         document.getElementById('tosttittle').innerHTML = 'Error';
         document.getElementById('tostbody').innerHTML = 'Police updated failed';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      }
   }
   // add new update when edit Police  avalabe in id createPolice
   const createPolice2 = document.getElementById('addPolice');
   createPolice2.addEventListener('click', () => {
      document.getElementById('namePolice').value = '';
      document.getElementById('badge_numberPolice').value = '';
      document.getElementById('contact_numberPolice').value = '';
      document.getElementById('formTypePolice').innerHTML = 'Create Police';
      Policebtn.innerHTML = 'Submit';
      Policebtn.removeEventListener('click', updatePolice);
      Policebtn.addEventListener('click', addPolice);
   })


</script>