<div class="container-fluid pb-3 pt-2">
   <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
      <div class="bg-body-tertiary border rounded-3">
         <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="py-5">
               <p class=" fw-bold">Create Vehicle</p>
               <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="text" class="form-control" placeholder="vehicle type..." id="vehicle_type">
                  <br>
                  <input type="text" class="form-control" placeholder="mechanical_problem..." id="mechanical_problem">
                  <br>
                  <input type="text" class="form-control" placeholder="license number..." id="license_number">
                  <br>
                  <button class="btn btn-primary btn-md" type="button">Submit</button>
               </form>
            </div>
         </div>
      </div>
      <div class="bg-body-tertiary border rounded-3">
         <div class="container-fluid py-5">
            <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addModal">Add
               New
            </button>
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">First</th>
                     <th scope="col">Last</th>
                     <th scope="col">Handle</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <th scope="row">1</th>
                     <td>Mark</td>
                     <td>Otto</td>
                     <td>@mdo</td>
                  </tr>
                  <tr>
                     <th scope="row">2</th>
                     <td>Jacob</td>
                     <td>Thornton</td>
                     <td>@fat</td>
                  </tr>
                  <tr>
                     <th scope="row">3</th>
                     <td colspan="2">Larry the Bird</td>
                     <td>@twitter</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>