<div class="container-fluid pb-3 pt-2">
   <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
      <div class="bg-body-tertiary border rounded-3">
         <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="py-5">
               <p class=" fw-bold">Create Vehicle</p>
               <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="text" class="form-control" placeholder="vehicle type..." id="vehicle_type">
                  <br>
                  <input type="text" class="form-control" placeholder="mechanical_problem..." id="mechanical_problem">
                  <br>
                  <input type="text" class="form-control" placeholder="license number..." id="license_number">
                  <br>
                  <button class="btn btn-primary btn-md" type="button">Submit</button>
               </form>
            </div>
         </div>
      </div>
      <div class="bg-body-tertiary border rounded-3">
         <div class="container-fluid py-5">
            <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addModal">Add
               New
            </button>
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">#Vehicle Id</th>
                     <th scope="col">Vehicle Type</th>
                     <th scope="col">Mechanicl Problem</th>
                     <th scope="col">License Number</th>
                     <th scope="col">Actions</th>
                  </tr>
               </thead>
               <tbody id="vehicleTr">
                  <!-- <tr>
                     <th scope="row">1</th>
                     <td>Mark</td>
                     <td>Otto</td>
                     <td>@mdo</td>
                  </tr>
                  <tr>
                     <th scope="row">2</th>
                     <td>Jacob</td>
                     <td>Thornton</td>
                     <td>@fat</td>
                  </tr>
                  <tr>
                     <th scope="row">3</th>
                     <td colspan="2">Larry the Bird</td>
                     <td>@twitter</td>
                  </tr> -->
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<script>

   //get data array object and show in table  using fetch api
   const getVehicle = async () => {
      const response = await fetch('/api/vehicle');
      const data = await response.json();
      console.log(data);
      let html = '';
      data.forEach(vehicle => {
         html += `
            <tr>
               <th scope="row">${vehicle.vehicle_id}</th>
               <td>${vehicle.vehicle_type}</td>
               <td>${vehicle.mechanical_problem}</td>
               <td>${vehicle.license_number}</td>
               <td>
                  <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editModal" onclick="editVehicle(${vehicle.vehicle_id})">Edit</button>
                  <button class="btn btn-danger btn-sm" onclick="deleteVehicle(${vehicle.vehicle_id})">Delete</button>
               </td>
            </tr>
         `;
      });
      vehicleTr.innerHTML = html;
   }
   getVehicle();

</script>