<div class="container-fluid pb-3 pt-2">
   <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
      <div class="bg-body-tertiary border rounded-3">
         <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="py-5">
               <p class=" fw-bold" id="formTypeWitness">Create Witness</p>
               <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="text" class="form-control" placeholder="Witness Name" id="nameWitness">
                  <br>
                  <input type="text" class="form-control" placeholder="contact_number" id="contact_number">
                  <br>
                  <input type="text" class="form-control" placeholder="statement" id="statement">
                  <br>
                  <button class="btn btn-primary btn-md" type="button" id="Witnessbtn">Submit</button>
               </form>
            </div>
         </div>
      </div>
      <div class="bg-body-tertiary border rounded-3">
         <div class="container-fluid py-5">
            <button class="btn btn-success mb-3" id="addWitness">Add
               New
            </button>
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">#Witness Id</th>
                     <th scope="col">name</th>
                     <th scope="col">contact_number</th>
                     <th scope="col">statement</th>
                     <th scope="col">Actions</th>
                  </tr>
               </thead>
               <tbody id="WitnessTr">

               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<script>

   //get data array object and show in table  using fetch api
   const getWitness = async () => {
      const response = await fetch('/api/witness');
      const data = await response.json();
      console.log(data);
      let html = ``;
      data.data.forEach(Witness => {
         html += `
            <tr>
               <th scope="row">${Witness.witness_id}</th>
               <td>${Witness.name}</td>
               <td>${Witness.contact_number}</td>
               <td>${Witness.statement}</td>
               <td>
                  <button class="btn btn-warning btn-sm"  onclick="editWitness(${Witness.witness_id})">Edit</button>
                  <button class="btn btn-danger btn-sm" onclick="deleteWitness(${Witness.witness_id})">Delete</button>
               </td>
            </tr>
         `;
      });
      WitnessTr.innerHTML = html;
   }
   getWitness();

   //add Witness
   const addWitness = async () => {

      const name = document.getElementById('nameWitness').value;
      const contact_number = document.getElementById('contact_number').value;
      const statement = document.getElementById('statement').value;


      const response = await fetch('/api/witness', {
         method: 'POST',
         headers: {
            'Content-Type': 'application/json'
         },
         body: JSON.stringify({
            name: name,
            contact_number: contact_number,
            statement: statement

         })
      });
      const data = await response.json();
      console.log(data);
      if (data.status === true) {
         getWitness();
         document.getElementById('nameWitness').value = '';
         document.getElementById('contact_number').value = '';
         document.getElementById('statement').value = '';

         document.getElementById('tosttittle').innerHTML = 'Success';
         document.getElementById('tostbody').innerHTML = 'Witness added successfully';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      } else {
         document.getElementById('tosttittle').innerHTML = 'Error';
         document.getElementById('tostbody').innerHTML = 'Witness added failed';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      }
   }
   let Witnessbtn = document.getElementById('Witnessbtn');
   Witnessbtn.addEventListener('click', addWitness);

   //delete Witness
   const deleteWitness = async (id) => {
      const response = await fetch(`/api/witness/${id}`, {
         method: 'DELETE'
      });
      const data = await response.json();
      console.log(data);
      if (data.status === true) {
         getWitness();
         document.getElementById('tosttittle').innerHTML = 'Success';
         document.getElementById('tostbody').innerHTML = 'Witness deleted successfully';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      } else {
         document.getElementById('tosttittle').innerHTML = 'Error';
         document.getElementById('tostbody').innerHTML = 'Witness deleted failed';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      }
   }
   //edit Witness in id formType change for eidt Witness
   const editWitness = async (id) => {
      document.getElementById('formTypeWitness').innerHTML = 'Edit Witness';
      const response = await fetch(`/api/witness/${id}`);
      const data = await response.json();
      console.log(data);
      document.getElementById('nameWitness').value = data.name;
      document.getElementById('contact_number').value = data.contact_number;
      document.getElementById('statement').value = data.statement;

      Witnessbtn.innerHTML = 'Update';
      Witnessbtn.removeEventListener('click', addWitness);
      Witnessbtn.addEventListener('click', () => updateWitness(id));
   }

   //update Witness
   const updateWitness = async (id) => {
      const name = document.getElementById('nameWitness').value;
      const contact_number = document.getElementById('contact_number').value;
      const statement = document.getElementById('statement').value;
      const response = await fetch(`/api/witness/${id}`, {
         method: 'PATCH',
         headers: {
            'Content-Type': 'application/json'
         },
         body: JSON.stringify({
            name: name,
            contact_number: contact_number,
            statement: statement
         })
      });
      const data = await response.json();
      console.log(data);
      if (data.status === true) {
         getWitness();
         document.getElementById('nameWitness').value = '';
         document.getElementById('contact_number').value = '';
         document.getElementById('statement').value = '';
         document.getElementById('formTypeWitness').innerHTML = 'Create Witness';
         Witnessbtn.innerHTML = 'Submit';
         Witnessbtn.removeEventListener('click', updateWitness);
         Witnessbtn.addEventListener('click', addWitness);
         document.getElementById('tosttittle').innerHTML = 'Success';
         document.getElementById('tostbody').innerHTML = 'Witness updated successfully';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      } else {
         document.getElementById('tosttittle').innerHTML = 'Error';
         document.getElementById('tostbody').innerHTML = 'Witness updated failed';
         var toastLiveExample = document.getElementById('liveToast')
         var toast = new bootstrap.Toast(toastLiveExample)
         toast.show()
      }
   }
   // add new update when edit Witness  avalabe in id createWitness
   const createWitness2 = document.getElementById('addWitness');
   createWitness2.addEventListener('click', () => {
      document.getElementById('nameWitness').value = '';
      document.getElementById('contact_number').value = '';
      document.getElementById('statement').value = '';
      document.getElementById('formTypeWitness').innerHTML = 'Create Witness';
      Witnessbtn.innerHTML = 'Submit';
      Witnessbtn.removeEventListener('click', updateWitness);
      Witnessbtn.addEventListener('click', addWitness);
   })


</script>