<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
   <%- include('../partials/head'); %>
</head>


<body class="container px-mb-5">
   <main>
      <div class="container py-4">

         <%- include('../partials/header'); %>


            <div class="container-fluid pb-3">
               <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
                  <div class="bg-body-tertiary border rounded-3">
                     <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                        <div class="py-5">
                           <p class=" fw-bold">Login</p>
                           <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                              <input type="text" class="form-control" placeholder="username..." id="username">
                              <br>
                              <input type="password" class="form-control" placeholder="password..." id="password">
                              <br>
                              <button class="btn btn-primary btn-md" type="button">Login</button>
                           </form>
                        </div>
                     </div>
                  </div>
                  <div class="bg-body-tertiary border rounded-3">
                     <div class="container-fluid py-5">
                        <p class=" fw-bold">Sign-up</p>
                        <form class="col-12 gap-3 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                           <input type="text" class="form-control" placeholder="FullName..." id="fullname">
                           <br>
                           <input type="text" class="form-control" placeholder="username..." id="username1">
                           <br>
                           <input type="password" class="form-control" placeholder="password..." id="password1">
                           <br>
                           <button class="btn btn-outline-secondary btn-md" type="button">Sign-up</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>



            <div class="container-fluid pb-3">
               <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
                  <div class="bg-body-tertiary border rounded-3">
                     <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                        <div class="py-5">
                           <p class=" fw-bold">Create Vehicle</p>
                           <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                              <input type="text" class="form-control" placeholder="vehicle type..." id="vehicle_type">
                              <br>
                              <input type="text" class="form-control" placeholder="mechanical_problem..."
                                 id="mechanical_problem">
                              <br>
                              <input type="text" class="form-control" placeholder="license number..."
                                 id="license_number">
                              <br>
                              <button class="btn btn-primary btn-md" type="button">Submit</button>
                           </form>
                        </div>
                     </div>
                  </div>
                  <div class="bg-body-tertiary border rounded-3">
                     <div class="container-fluid py-5">
                        <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addModal">Add New
                        </button>
                        <table class="table">
                           <thead>
                              <tr>
                                 <th scope="col">#</th>
                                 <th scope="col">First</th>
                                 <th scope="col">Last</th>
                                 <th scope="col">Handle</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <th scope="row">1</th>
                                 <td>Mark</td>
                                 <td>Otto</td>
                                 <td>@mdo</td>
                              </tr>
                              <tr>
                                 <th scope="row">2</th>
                                 <td>Jacob</td>
                                 <td>Thornton</td>
                                 <td>@fat</td>
                              </tr>
                              <tr>
                                 <th scope="row">3</th>
                                 <td colspan="2">Larry the Bird</td>
                                 <td>@twitter</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>


            <div class="row align-items-md-stretch">
               <div class="col-md-6">
                  <div class="h-100 p-5 text-bg-dark rounded-3">
                     <h2>Change the background</h2>
                     <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron
                        look.
                        Then, mix and match with additional component themes and more.</p>
                     <button class="btn btn-outline-light" type="button">Example button</button>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                     <h2>Add borders</h2>
                     <p>Or, keep it light and add a border for some added definition to the boundaries of your content.
                        Be
                        sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing
                        of
                        both column's content for equal-height.</p>
                     <button class="btn btn-outline-secondary" type="button">Example button</button>
                  </div>
               </div>
            </div>

            <footer class="pt-3 mt-4 text-body-secondary border-top">
               <%- include('../partials/footer'); %>
            </footer>
      </div>
   </main>




</body>

</html>